$back: lightgray;
body {
  background: $back;
  cursor: none;
}
header {
  position: relative;
  h1 {
    text-align: center;
    font-size: 6em;
    color: #c6c6c6;
  }
  h3 {
    text-align: center;
    color: darkslategray;
  }
}
main {
  padding-bottom: 10em;
  h2 {
    font: bold;
    color: darkslategray;
  }
  p {
    color: slategray;
  }
}
.main-wrapper {
  height: 500px;
}
.heroImg {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
section {
  padding: 20px;
  img {
    height: 700px;
  }
}
p {
  opacity: 0;
  transition: opacity 2s linear;
}
.in-view-p {
  opacity: 1;
}
.circle {
  mix-blend-mode: luminosity;
}

.cursor {
  width: 2em;
  height: 2em;
  position: absolute;
  z-index: 50;
  border-radius: 100%;
  border: solid 1px black;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s linear;

  span {
    display: none;
    content: "zoom";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 8px;
  }
}
.cursorImg {
  background: white;
  transform: translate(-50%, -50%) scale(2);
  border: solid 1px transparent;
  padding: 1em;
  .zoom {
    display: block;
  }
  .scroll {
    display: none;
  }
}

.cursorHeader {
  background: white;
  transform: translate(-50%, -50%) scale(2);
  border: solid 1px transparent;
  padding: 1em;
  .zoom {
    display: none;
  }
  .scroll {
    display: block;

    img {
      height: 8px;
    }
  }
}
